* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    white-space: pre-line;
    padding: 0 5px;
}



.container tr {
    height: 1em;
}

.container th {
    width: 33%;
    vertical-align: top;
}

#foto {
    margin: 20px ;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    text-align: center;
}

#informacion-personal {
    width: max-content;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}


#informacion-contacto h2{
    text-align: left;
}


.contenedor-img  {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
}


.contenedor-img img {
    height: 70px;
    width: auto;
}

#informacion-contacto {
    display: block;
    max-width: max-content;
    margin-left: 0;
    margin-right: auto;
    text-align: center;
    border: 1px solid;
    border-radius: 5%;
    background-color: rgb(216, 247, 218);
}

#Estudio-academico p{
    width: max-content;
    margin-left: 40px;
    text-align: left;
}

#pyoyectos-realizados li{
    width: 100%;
    text-align: left;
    margin-left: 20px;
}

.container h2{
    width: max-content;
    margin: 0 auto;
}

#idiomas ul {
    margin-top: 0;
    padding-left: 40px;
}

#idiomas h4 {
    margin-left: 80px;
}

#idiomas h3, h4, li, ul{
    width: max-content;
    margin-top: 0;
    margin-left: 40px;
    margin-bottom: 0;
    text-align: left;
}

#stack ol {
    margin-bottom: 0;
}

#stack h2, #p-stack, ol, ul{
    width: max-content;
    margin-top: 0;
    margin-left: 40px;
    margin-bottom: 0;
    text-align: left;
    padding-left: 0;
}

.container table{
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 5%;
    background-color: rgb(222, 239, 245);
}

.container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 10px;
    margin: 10px;
}

